<!--The content below is only a placeholder and can be replaced.-->
<div class="monuclass">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"  src="/src/app/bhaiya.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul  >
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Vaishnavi GameZone</a></h2>
  </li>

  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Last Minute English blog</a></h2>
  </li>
  
  
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Coding Questions blog</a></h2>
  </li>
  
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Interview Questions blog</a></h2>
  </li>
  
    <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Java Programming Tips blog</a></h2>
  </li>
  
    <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Coding Websites Links</a></h2>
  </li>
    <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">English Website Links </a></h2>
  </li>
  
      <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Topics to Prepare <i>FOR ANY JAVA INTERVIEW</i></a></h2>
  </li>
  
  
</ul>


<tbody><tr><td>


<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
<h1 class="h1">ANGULAR NOTES: Angular7 App files explanation</h1>
<p>See the structure of the Angular7 app on WebStorm IDE (how it looks on IDE). For Angular7 development, you can use either Visual Studio Code IDE or WebStorm IDE. Both are good. Here, we are using JetBrains WebStorm IDE.</p> 
<img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-fles-explanation.png" alt="Angular7 App Files Explanation">

<p>Angular7 App files which are mainly used in your project are given below:</p> 
<p><strong>src folder:</strong> This is the folder which contains the main code files related to your angular application.</p>
<p><strong>app.component.css:</strong> This file contains the cascading style sheets code for your app component.</p>

<h2 class="h2"></h2><p><strong>app.component.html:</strong> This file contains the html file related to app component. This is the template file which is used by angular to do the data binding.</p>
<p><strong>app folder:</strong> The app folder contains the files, you have created for app components. </p><p><strong>app.component.spec.ts:</strong> This file is a unit testing file related to app component.  This file is used along with other unit tests. It is run from Angular CLI by the command ng test</p>
<p><strong>app.component.ts:</strong> This is the most important typescript file which includes the view logic behind the component. </p>
<p><strong>app.module.ts:</strong> This is also a typescript file which includes all the dependencies for the website. This file is used to define the needed modules to be imported, the components to be declared and the main component to be bootstrapped. </p>
<h2 class="h2">Other Important files</h2>
<p><strong>package.json:</strong> This is npm configuration file. It includes details about your website's package dependencies along with details about your own website being a package itself. </p>
<p><strong>package-lock.json :</strong> This is an auto-generated and modified file that gets updated whenever npm does an operation related to node_modules or package.json </p>
<p><strong>angular.json:</strong> It is very important configuration file related to your angular application. <strong>It defines the structure of your app and includes any settings associated with your application.</strong> Here, you can specify environments on this file (development, production). This is the file where we add Bootstrap file to work with Angular7. </p>
<p><strong>.gitignore:</strong> This file is related to the source control git.</p>
<p><strong>.editorconfig:</strong> This is a simple file which is used to maintain consistency in code editors to organize some basics such as indentation and whitespaces. </p>
<p><strong>assets folder:</strong> This folder is a placeholder for resource files which are used in the application such as images, locales, translations etc.</p>
<p><strong>environments folder:</strong> The environments folder is used to hold the environment configuration constants that help when building the angular application. The constants are defined in 2 separate .ts files (environment.ts and environment.prod.ts), where these constants are used within the angular.json file by the Angular CLI. For example, if you run the ng build command, it will build the application using the development environment settings, whereas the command ng build ?prod will build the project using the production environment settings.</p>
<p><strong>browserlist :</strong> This file is used by autoprefixer that adjusts the CSS to support a list of defined browsers.</p>
<p><strong>favicon.ico </strong> This file specifies a small icon that appears next to the browser tab of a website.</p><div style="display: block; clear: both; text-align: center; margin: 0px auto;" id="b3a914fc-a059-4fc8-bb26-24febcb18ab6" data-section="b3a914fc-a059-4fc8-bb26-24febcb18ab6" class="_ap_apex_ad" data-xpath="" data-section-id="4" data-render-time="1558721620488" data-refresh-time="1558722289746" data-timeout="7526"><div id="ADP_37780_300X250_b3a914fc-a059-4fc8-bb26-24febcb18ab6" data-google-query-id="CKnPzYPltOICFciGaAodgfkBdw">

<div id="google_ads_iframe_/103512698/21794627455_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/103512698/21794627455_0" title="3rd party ad content" name="google_ads_iframe_/103512698/21794627455_0" scrolling="no" marginwidth="0" marginheight="0" style="border: 0px none; vertical-align: bottom;" srcdoc="" data-google-container-id="1f" data-load-complete="true" width="300" height="250" frameborder="0"></iframe></div></div></div>
<p><strong>index.html:</strong>  This is the entry file which holds the high level container for the angular application.</p>
<p><strong>karma.config.js:</strong> This file specifies the config file for the Karma Test Runner, Karma has been developed by the AngularJS team which can run tests for both AngularJS and Angular 2+ </p>
<p><strong>main.ts:</strong> As defined in angular.json file, this is the main ts file that will first run. This file bootstraps (starts) the AppModule from app.module.ts , and it can be used to define global configurations.</p>
<p><strong>polyfills.ts:</strong> This file is a set of code that can be used to provide compatibility support for older browsers. Angular 7 code is written mainly in ES6+ language specifications which is getting more adopted in front-end development, so since not all browsers support the full ES6+ specifications, pollyfills can be used to cover whatever feature missing from a given browser. </p>
<p><strong>styles.css:/</strong> This is a global css file which is used by the angular application.</p>
<p><strong>tests.ts:</strong> This is the main test file that the Angular CLI command ng test will use to traverse all the unit tests within the application and run them. </p>
<p><strong>tsconfig.json:</strong> This is a typescript compiler configuration file. </p>
<p><strong>tsconfig.app.json:</strong> This is used to override the tsconfig.json file with app specific configurations.</p>
<p><strong>tsconfig.spec.json:</strong> This overrides the tsconfig.json file with app specific unit test configurations.</p>

<hr>
<div class="nexttopicdiv">
<span class="nexttopictext">Next Topic</span><span class="nexttopiclink"><a href="angular7-components">Angular7 Components</a></span>
</div>
<!-- link -->
<br><br>

<div id="bottomnext">
<a style="float:left" class="next" href="angular7-first-app">← prev</a>
<a style="float:right" class="next" href="angular7-components">next →</a>
</div>

<br><br>
</td></tr>

<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
</tbody>


<tbody><img src="https://static.javatpoint.com/tutorial/angular7/images/angular7-installation3.png" alt="How to install Angular7"></tbody>
<p appSimpleStyle>Style me with your created SimpleStyleDirective</p>  

<router-outlet>




</router-outlet>
